.box {
    display : flex;
    flex-direction: row-reverse;
}

section{
    display: flex;
    justify-content: center;
}
div{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    margin:3px;
}